<section class="vh-100 background-color">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-md-9 col-lg-7 col-xl-5">
        <div class="card" style="border-radius: 15px;">
          <div class="card-body p-4">
            <div class="d-flex text-black">
              <div class="flex-grow-1 ms-3">
                <h5 class="mb-1">{{profileData.name}}</h5>
                <p class="mb-2 pb-1" style="color: #2b2a2a;">{{profileData.email}}</p>
                <div class="d-flex justify-content-start rounded-3 p-2 mb-2"
                  style="background-color: #efefef;">
                  <div class="px-3">
                    <p class="small text-muted mb-1">Games Played</p>
                    <p class="mb-0">{{profileGames}}</p>
                  </div>
                  <div class="px-3">
                    <p class="small text-muted mb-1">All Time High Score</p>
                    <p class="mb-0">
                      {{#if hasScores}}
                        {{profileHigh}}
                      {{else}}
                        0
                      {{/if}}</p>
                  </div>
                </div>
                  <div class="container">
                    <div class="leaderboard">
                      <div class="head">
                        <i class="fas fa-crown"></i>
                        <h3>Recent Scores</h3>
                      </div>
                      <div class="body">
                        <ol>
                          {{#if hasScores}}
                            {{#each scoresArray as |score|}}
                            {{> profileScores currentScore=score}}
                            {{/each}}
                          {{else}}
                            <p></p>
                          {{/if}}
                        </ol>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="pt-1">
                <a href="/"><button type="button" class="btn me-1 flex-grow-1" style="border-radius:4px; margin-top: 10px; background-color: black; color: orange; margin: 2px">Menu</button></a>
                <a href="#"><button type="button" id="delete" class="btn me-1 flex-grow-1" style="border-radius:4px; margin-top: 10px; background-color: black; color: orange; margin: 2px">Delete Account</button></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>