<section class="vh-100 gradient-custom-2">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7">
        <div class="card">
          <div class="rounded-top text-white d-flex flex-row gradient-background" style="background-color: rgb(255, 115, 0); height:200px;">
            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px; margin-left: 5px">
              <img src="https://archives.bulbagarden.net/media/upload/thumb/d/dd/136Flareon.png/250px-136Flareon.png"
                alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                style="width: 150px; z-index: 1">
            </div>
            <div style="margin-top: 130px; margin-left: 13px; color: black">
              <h5>{{profileData.name}}</h5>
              <p>{{profileData.email}}</p>
            </div>
          </div>
          <div class="p-4 text-black" style="background-color: #f8f9fa;">
            <div class="d-flex justify-content-end text-center py-1">
              <div>
                <p class="mb-1 h5">{{profileGames}}</p>
                <p class="small text-muted mb-0">Games Played</p>
              </div>
              <div class="px-3">
                <p class="mb-1 h5">                          
                  {{#if hasScores}}
                    {{profileHigh}}
                  {{else}}
                    0
                  {{/if}}
                <p class="small text-muted mb-0">All Time High Score</p>
              </div>
            </div>
          </div>
          <div class="card-body p-4 text-black">
            <div class="mb-2">
              <p class="lead font-weight-normal mb-1">Recent Games Played</p>
              <div class="p-3 border border-secondary" style="background-color: #f8f9fa;">
                <ol>
                  {{#if hasScores}}
                    {{#each scoresArray as |score|}}
                    {{> profileScores currentScore=score}}
                    {{/each}}
                  {{else}}
                    <p></p>
                  {{/if}}
                </ol>
              <div class="pt-1">
              </div>
            </div>
            <a href="/"><button type="button" class="btn btn-outline-secondary">Menu</button></a>
            <a href="#"><button type="button" id="delete" class="btn btn-outline-danger">Delete Account</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>